<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Grøn Og Olsen PoC</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Auktionshus
            </NavLink>
            <NavLink class="nav-link" href="usertests">
                <span class="bi bi-user-nav-menu" aria-hidden="true"></span> 1: UserTests
            </NavLink>
            <NavLink class="nav-link" href="lottests">
                <span class="bi bi-hammer-nav-menu" aria-hidden="true"></span> 2: LotTests
            </NavLink>
            <NavLink class="nav-link" href="invoicetests">
                <span class="bi bi-invoice-nav-menu" aria-hidden="true"></span> 3: InvoiceTests
            </NavLink>
            <NavLink class="nav-link" href="openapi-list">
                <span class="bi bi-json-nav-menu" aria-hidden="true"></span> OpenAPI List
            </NavLink>
            <NavLink class="nav-link" href="schema-list">
                <span class="bi bi-json-nav-menu" aria-hidden="true"></span> Schema List
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
