@page "/description"
@inject IJSRuntime JS

<h3>Project Description</h3>

<div id="pdfCanvasContainer"></div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await Task.Delay(100);
            await JS.InvokeVoidAsync("pdfViewer.loadPdf", "https://raw.githubusercontent.com/ThySeven/Aflevering/main/Projektbeskrivelse%20for%204.%20semester%20projekt%20-%20fuld%20beskrivelse.pdf", "pdfCanvasContainer");
        }
    }
}