@page "/"
@using GronOgOlsenFrontEnd.Models;
@using GronOgOlsenFrontEnd.Services;
@using System.Net.Http.Headers;
@using System.Text.Json

<PageTitle>GO Testing Site</PageTitle>

<h1>Velkommen til Grøn og Olsen PoC Brugertest Hjemmeside</h1>
<p>I venstre menu kan du vælge at køre end to end tests for flere af Auction Core Services.</p>
<p>Følg blot vejledningen og nå hurtigt i mål</p>
<p><b>Start med UserTest og lav en bruger</b>, da dette er et krav til at få adgang til specifikke andre services.</p>
<p>Rigtig god dag :)</p>

@code{

}