@page "/"
@using GronOgOlsenFrontEnd.Models;
@using GronOgOlsenFrontEnd.Services;
@using System.Net.Http.Headers;
@using System.Text.Json

<PageTitle>GO Testing Site</PageTitle>

<h2>Velkommen til Grøn og Olsen PoC Brugertest Hjemmeside!</h2>
            <p>I venstre menu kan du vælge at køre end-to-end tests for flere af Auction Core Services. Følg blot vejledningen og nå hurtigt i mål.</p>
            <h3>Undersider:</h3>
            <ul>
                <li><strong>UserTests:</strong> Start her og lav en bruger, da dette er et krav for adgang til specifikke andre services.</li>
                <li><strong>LotTests:</strong> Test funktionerne relateret til lots.</li>
                <li><strong>InvoiceTests:</strong> Gennemfør tests for fakturering.</li>
                <li><strong>InteroperabilityTests:</strong> Test systemets interoperabilitet.</li>
            </ul>
            <p>Derudover kan du finde følgende:</p>
            <ul>
                <li><strong>Auktionshus:</strong> Hjemmesiden for auktionshuset.</li>
                <li><strong>Grafana:</strong> Adgang til Grafana for overvågning.</li>
                <li><strong>OpenAPI List</strong> og <strong>Schema List:</strong> JSON lister for API og skemaer.</li>
                <li><strong>Architecture:</strong> Oversigt over systemets arkitektur.</li>
                <li><strong>PoC UI:</strong> Brugergrænsefladen for PoC.</li>
                <li><strong>PoC Rapport:</strong> Rapportering for PoC.</li>
                <li><strong>Project Description:</strong> Beskrivelse af projektet.</li>
            </ul>
            <p>Rigtig god dag! 😊</p>

<p>
    <h5 style="display: inline;">Link til GitHub Repository: </h5>
    <a href="https://github.com/orgs/ThySeven/repositories" target="_blank">ThySeven-Repository</a>
</p>


@code{

}