@page "/interoperabilitytest"
@using GronOgOlsenFrontEnd.Pages.InteroperabilityTest

<h1>LotTests</h1>
<div class="container">
    <div class="subpage">
        1:
        <LoginPage></LoginPage>
    </div>
    <div class="subpage">
        2:
        <GetUserPage></GetUserPage>
    </div>

    <div class="subpage">
        3:
        <GetAllAuctions></GetAllAuctions>
    </div>

    <div class="subpage">
        4:
        <GetAuctionById></GetAuctionById>
    </div>

</div>
@code {

}