@page "/invoicetests"
@using GronOgOlsenFrontEnd.Pages.InvoiceTest
@using GronOgOlsenFrontEnd.Pages.UserTest

<h1>InvoiceTests</h1>
<div class="container">
    <div class="subpage">
        0:
        <LoginPage></LoginPage>
    </div>
     <div class="subpage">
        1:
        <CreateInvoicePage></CreateInvoicePage>
    </div>
    <div class="subpage">
        2:
        <GetAllInvoicesPage></GetAllInvoicesPage>
    </div>
    <div class="subpage">
        3:
        <GetInvoiceByIdPage></GetInvoiceByIdPage>
    </div>
    <div class="subpage">
        4:
        <UpdateInvoicePage></UpdateInvoicePage>
    </div>
    <div class="subpage">
        5:
        <ValidateInvoicePage></ValidateInvoicePage>
    </div>
    <div class="subpage">
        6:
        <DeleteInvoicePage></DeleteInvoicePage>
    </div>
    <div class="subpage">
        7:
        <CreatePaymentLinkPage></CreatePaymentLinkPage>
    </div>
    <div class="subpage">
        8:
        <SendParcelInfoPage></SendParcelInfoPage>
    </div> 
</div>