@page "/lottests"
@using GronOgOlsenFrontEnd.Pages.LotTest
@using GronOgOlsenFrontEnd.Pages.UserTest
<PageTitle>GO Lot Test Site</PageTitle>

<h1>LotTests</h1>
<div class="container">
    <div class="subpage">
        0:
        <LoginPage></LoginPage>
    </div>
    <div class="subpage">
        1:
        <CreateLotPage></CreateLotPage>
    </div>

    <div class="subpage">
        2:
        <GetAllLotsPage></GetAllLotsPage>
    </div>

    <div class="subpage">
        3:
        <GetLotByIdPage></GetLotByIdPage>
    </div>

    <div class="subpage">
        4:
        <UpdateLotPage></UpdateLotPage>
    </div>

    <div class="subpage">
        5:
        <UpdateLotPricePage></UpdateLotPricePage>
    </div>
    <div class="subpage">
        6: Outbid yourself again, to recieve an email that you've been overbid
        <UpdateLotPricePage></UpdateLotPricePage>
    </div>
    <div class="subpage">
        7:
        <CloseLotPage></CloseLotPage>
    </div>
    <div class="subpage">
        8:
        <h3>Check your e-mail and "pay" for your order by clicking the link</h3>
    </div>
    <div class="subpage">
        9:
        <h3>Check your e-mail and "track" your won lot</h3>
    </div>
    <div class="subpage">
        10:
        <DeleteLotPage></DeleteLotPage>
    </div>
</div>
@code {

}