@page "/usertests"
@using GronOgOlsenFrontEnd.Pages.UserTest
@using UserService.Models

<h1>UserTests</h1>
<div class="container">
    <div class="subpage">
        1:
        <UserCreate></UserCreate>
    </div>

    <div class="subpage">2:
        <h3>Verify your account using your email</h3>
    </div>

    <div class="subpage">
        3:
        <LoginPage></LoginPage>
    </div>

    <div class="subpage">
        4:
        <GetUserPage></GetUserPage>
    </div>

    <div class="subpage">
        5:
        <UpdateUserPage></UpdateUserPage>
    </div>

    <div class="subpage">
        6:
        <UpdatePasswordPage></UpdatePasswordPage>
    </div>

    <div class="subpage">
        7:
        <DeleteUserPage></DeleteUserPage>
    </div>
</div>
@code {

}
